In [8]:
import pandas as pd
import numpy as np

In [9]:
s = pd.Series(list('abca'))

In [11]:
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'])
df1

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [12]:
pd.get_dummies(df1)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [13]:
pd.get_dummies(df1).values

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
pd.get_dummies(s).values